<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
    <div class="video-container youtube ratio16to9" id="video-container{data.uid}" style="background-image: url('{f:uri.image(image: data.youtubegdpr_previewimage)}')">
        <div class="hytPlayerWrapOuter">
            <div class="hytPlayerWrap">
                <div class="acceptgdpr" id="acceptgdpr{data.uid}">
                    <div class="acceptgdpr-text">
                        <f:format.raw><f:translate key="LLL:EXT:youtube_gdprembed/Resources/Private/Language/locallang.xlf:frontend.privacy.text"
                                     arguments="{0: '<a href=\"{f:uri.page(pageUid: \'{data.youtubegdpr_privacyPage}\')}\" target=\"_blank\">{f:translate(key: \'LLL:EXT:youtube_gdprembed/Resources/Private/Language/locallang.xlf:frontend.privacy.linktext\')}</a>'}" />
                        </f:format.raw>
                        <br>
                        <button id="acceptgdpr-btn{data.uid}"class="btn btn-primary btn-center">
                            <f:translate key="LLL:EXT:youtube_gdprembed/Resources/Private/Language/locallang.xlf:frontend.privacy.button"/>
                        </button>
                    </div>

                </div>
                <div id="gdprplayer{data.uid}" class="gdprplayer" data-video="{data.youtubegdpr}"></div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            if (document.cookie.indexOf("youtubegdpr=") >= 0) {
                youtubegdpr(<f:format.raw>{data.uid}</f:format.raw>, '<f:format.raw>{data.youtubegdpr_norel}</f:format.raw>', <f:format.raw>{data.youtubegdpr_persistacceptance}</f:format.raw>);
            }
            else {
                document.querySelector('#acceptgdpr-btn' + <f:format.raw>{data.uid}</f:format.raw>).addEventListener("click", function () {
                    youtubegdpr(<f:format.raw>{data.uid}</f:format.raw>, '<f:format.raw>{data.youtubegdpr_norel}</f:format.raw>', <f:format.raw>{data.youtubegdpr_persistacceptance}</f:format.raw>);
                });
            }
        });
    </script>
</f:section>
</html>


